@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  margin: auto;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

header {
  position: relative;
}
header a {
  position: absolute;
  left: 30px;
  top: 15px;
}
header h1 {
  text-align: center;
}

footer {
  background-color: #404040;
  color: white;
  padding: 20px;
}
footer h2 {
  font-size: medium;
  margin: 0;
}
footer p .fas {
  margin-right: 5px;
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

.btn-primary {
  align-self: center;
  justify-content: center;
  width: 60%;
  margin: 40px auto 10px auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 5px 5px 10px #d9d9d9;
}
.btn-primary a {
  display: block;
  height: 100%;
  border-radius: 20px;
}
.btn-primary a p {
  display: block;
  text-align: center;
  margin: 0;
  padding: 10px 5px;
  color: white;
  border-radius: 20px;
}
.btn-primary:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.fa-heart {
  margin-right: 15px;
  padding: 5px;
  align-self: center;
}
.fa-heart:hover {
  font-weight: 900;
}

.location {
  text-align: center;
  background-color: #d9d9d9;
  margin: 0;
  padding: 1px 0;
}

.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 15px;
  width: calc(100% - 30px);
}
.search h2 {
  font-size: larger;
  width: 60%;
  align-self: center;
}

.operation {
  padding: 30px 15px;
  width: calc(100% - 30px);
}
.operation ol {
  padding: 0;
  list-style-type: none;
}
.operation ol li .step {
  display: flex;
  margin: auto;
  width: calc(95% - 20px);
  background-color: #F2F2F2;
  border-radius: 20px;
  margin: 20px;
  transition: 0.3s;
  box-shadow: 5px 5px 10px #d9d9d9;
}
.operation ol li .step:hover {
  background-color: #f2eafb;
  transform: scale(1.02);
}
.operation ol li .step:hover > i::before {
  color: #9356DC;
}
.operation ol li .step i::before {
  transition: 0.3s;
}
.operation ol li .step.step-1 .fas {
  color: #a6a6a6;
  width: 20px;
  margin: auto 20px;
}
.operation ol li .step.step-1::before {
  content: "1";
  color: white;
  font-size: smaller;
  background-color: #9356DC;
  border-radius: 20px;
  margin: auto;
  margin-left: -10px;
  margin-right: 0px;
  text-align: center;
  width: 16px;
  height: 16px;
}
.operation ol li .step.step-2 .fas {
  color: #a6a6a6;
  width: 20px;
  margin: auto 20px;
}
.operation ol li .step.step-2::before {
  content: "2";
  color: white;
  font-size: smaller;
  background-color: #9356DC;
  border-radius: 20px;
  margin: auto;
  margin-left: -10px;
  margin-right: 0px;
  text-align: center;
  width: 16px;
  height: 16px;
}
.operation ol li .step.step-3 .fas {
  color: #a6a6a6;
  width: 20px;
  margin: auto 20px;
}
.operation ol li .step.step-3::before {
  content: "3";
  color: white;
  font-size: smaller;
  background-color: #9356DC;
  border-radius: 20px;
  margin: auto;
  margin-left: -10px;
  margin-right: 0px;
  text-align: center;
  width: 16px;
  height: 16px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 30px 15px;
  width: calc(100% - 30px);
}
.restaurants ul {
  list-style-type: none;
  padding: 0;
}
.restaurants .restaurant {
  transition: 0.3s;
}
.restaurants .restaurant:hover {
  transform: scale(1.02);
}
.restaurants .restaurant a {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 5px 5px 10px #d9d9d9;
}
.restaurants .restaurant img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurant .resto-desc {
  display: flex;
  background-color: white;
  padding-left: 20px;
  width: calc(100% - 20px);
  border-radius: 0 0 20px 20px;
  height: 100%;
}
.restaurants .restaurant .resto-desc .desc-text {
  flex: 1;
}
.restaurants .restaurant .resto-desc h3, .restaurants .restaurant .resto-desc p {
  margin: 5px 0 2.5px 0;
}
.restaurants .restaurant .new {
  position: absolute;
  background-color: #99E2D0;
  color: #32b091;
  padding: 5px 10px;
  top: 20px;
  right: 20px;
}

.image img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu {
  padding: 30px 15px;
  width: calc(100% - 30px);
  background-color: #F2F2F2;
  margin-top: -60px;
  position: relative;
  z-index: 1;
  border-radius: 50px 50px 0 0;
}
.menu .title {
  display: flex;
  justify-content: space-between;
}
.menu .title .fa-heart {
  align-self: center;
  margin-right: 0px;
}
.menu .title .fa-heart:hover {
  font-weight: 900;
}
.menu .menu-category h3 {
  width: 40px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu .menu-category ul {
  list-style-type: none;
  padding: 0;
}
.menu .menu-category .card {
  background-color: white;
  border-radius: 20px;
  height: 70px;
  padding-left: 20px;
  display: flex;
  margin: 10px 0;
  overflow: hidden;
  transition: 0.3s;
}
.menu .menu-category .card .card-text {
  flex: 1 0 90%;
  transition: 0.5s;
}
.menu .menu-category .card .card-text h4, .menu .menu-category .card .card-text p {
  margin: 10px 0;
}
.menu .menu-category .card .price {
  flex: 0 0 10%;
  align-self: flex-end;
  margin-bottom: 10px;
  transition: 0.3s;
}
.menu .menu-category .card .icon-bg {
  flex: 0 0 70px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.menu .menu-category .card .icon-bg span {
  overflow: none;
  height: 100%;
}
.menu .menu-category .card .icon-bg span .fa-check-circle {
  transition: 0.5s;
  margin: 22.5px;
  font-size: 25px;
  color: white;
  justify-content: center;
  transform: translateX(250%) rotate(0);
}
.menu .menu-category .card:hover .card-text {
  flex: 1 0 60%;
}
.menu .menu-category .card:hover .icon-bg {
  background-color: #99E2D0;
}
.menu .menu-category .card:hover .icon-bg span {
  display: inline-block;
}
.menu .menu-category .card:hover .icon-bg span > .fa-check-circle {
  transform: translateX(0%) rotate(-1turn);
}

/*# sourceMappingURL=style.css.map */
