@mixin number-before-step ($number) {
    content: $number;
    color: white;
    font-size: smaller;
    background-color: $color-primary;
    border-radius: $border-radius;
    margin: auto;
    margin-left: -10px;
    margin-right: 0px;
    text-align: center;
    width: 16px;
    height: 16px;
}

@mixin operation-display ($number) {
    & .fas {
        color: darken($color: $color-bg, $amount: 30%);
        width: 20px;
        margin: auto 20px;
    }
    &::before{
        content: $number;
        color: white;
        font-size: smaller;
        background-color: $color-primary;
        border-radius: $border-radius;
        margin: auto;
        margin-left: -10px;
        margin-right: 0px;
        text-align: center;
        width: 16px;
        height: 16px;
    }
}


@mixin padding-section () {
    padding: 30px 15px;
    width: calc(100% - 30px);
}

@mixin transition () {
    transition: 0.3s;
}

@mixin display-delay {
    animation: display-delay 0.3s 2.5s both;    
}

@mixin shadow ($dark-bg: false) {
    @if $dark-bg {
        box-shadow: 0 0 10px darken($color-bg,15);
        @include transition();
        &:hover{
            box-shadow: 5px 5px 10px darken($color-bg,20);

        }
    } @else {
        box-shadow: 0 0 10px darken($color-bg,5);
        @include transition();
        &:hover{
            box-shadow: 5px 5px 10px darken($color-bg,10);

        }
    }
}

@mixin fadeInY(){
    @for $n from 1 to 3 {
        &:nth-child($n){
            animation: fadeInY 0.5s ease-out calc($n / 10)s 1 both;
        }
    }
}

@mixin responsive {
    width: $breakpoint;
    margin: auto;
}