.operation{
    @include padding-section();
    @include display-delay;
    
    & ol{
        padding: 0;
        list-style-type: none;
        & li {
            
            & .step{
                display: flex;
                margin: auto;
                width: calc(100% - 40px);
                background-color: $color-bg;
                border-radius: $border-radius;
                margin: 20px;
                @include transition();
                @include shadow();
                animation: slide-step 0.3s ease-out 1.5s 1 both;
                &:nth-of-type(2){
                    animation-delay: 1.8s;
                }
                &:nth-of-type(3){
                    animation-delay: 2.1s;
                }

                &:hover{
                    background-color: lighten($color-primary, 35%);
                    transform: scale(1.02);
                    & > i::before{
                        color: $color-primary;
                    }
                }
                & i::before {
                    @include transition;
                }
                &.step-1{
                    @include operation-display('1');
                }
                &.step-2{
                    @include operation-display('2');
                    animation-delay: 1.6s;
                }
                &.step-3{
                    @include operation-display('3');
                    animation-delay: 1.7s;
                }
            }
        }
    }
}