.search{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-bg;
    @include padding-section();
    & h2{
        font-size: larger;
        width: 60%;
        align-self: center;
    }
    & .btn-explore {
        @include btn-primary();
    }
    
}