footer{
    background-color: lighten($color: #000000, $amount: 25%);
    color: white;
    padding: 20px;
    @include display-delay;
    & h2{
        font-size: medium;
    }
    & p .fas{
        margin-right: 5px;
    }
    & a{
        color:white;
        &:hover{
            text-decoration: underline;
        }
    }
}