.btn-primary {
    align-self: center;
    justify-content: center;
    width: 60%;
    margin: 40px auto 10px auto;
    background: $color-prim-sec-gradient;
    border-radius: $border-radius;
    // animation: grow 0.5s 1.5s both ;
    @include transition();
    @include shadow($dark-bg:true);
    & a {
        display: block;
        height: 100%;
        border-radius: $border-radius;

        & p{
            display: block;
            text-align: center;
            margin:0;
            padding:10px 5px;
            color: white;
            border-radius: $border-radius;
            // font-weight: bold;
        }
        
    }
    &:hover{
        // background: linear-gradient(to bottom right, lighten($color-secondary, 5%), lighten($color-primary, 5%));
        transform: scale(1.05);
        opacity: .8;
    }
}

.heart {
    align-self: center;
    position: relative;
    & .fa-heart{
        margin-right: 15px;
        padding: 5px;
        align-self: center;
        
        &.heart-full{
            position: absolute;
            right: 0;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image:  $color-prim-sec-gradient;
            font-weight: 900;
            @include transition();
            transform: scale(0);
        }
        
        &.heart-empty{
            @include transition();
            // transform: scale(1);
            // opacity: 1;
            
        }
    }
    &:hover{
        & > .heart-empty {
            // transform: scale(0);
            opacity: 0;
        }
        & > .heart-full{
            transform: scale(1);
            animation: heart-animation 0.7s both linear;

        }
    }
}
